<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">on main</button>
  </div>
  <div class="info">
    <strong> author </strong>
    <small>01.01.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ducimus esse est ex, excepturi fuga illum ipsa iure maiores nobis placeat porro sapiente sequi velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ducimus esse est ex, excepturi fuga illum ipsa iure maiores nobis placeat porro sapiente sequi velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ducimus esse est ex, excepturi fuga illum ipsa iure maiores nobis placeat porro sapiente sequi velit.</p>

  </div>

</div>
